ZKM_PROVER="network"
ENDPOINT=https://10.3.0.39:50000
ZKM_PRIVATE_KEY=0x

TOOL="/"
CA_CERT_PATH=${TOOL}/tool/ca.pem
SSL_CERT_PATH=${TOOL}/tool/client.pem
SSL_KEY_PATH=${TOOL}/tool/client.key
SINGLE_NODE=true
ZKM_PROOF_POLL_INTERVAL=1000
MAX_PROVER_NUM=1
